<h1>New Article</h1>

<%= render 'form' %>

<%#= form_for :article, url: articles_path do |f| %>
    <%#=The reason why we added @article = Article.new in the ArticlesController is that otherwise @article
    #would be nil in our view, and calling @article.errors.any? would throw an error. %>
<%# end %>

<%= link_to 'Back', articles_path %>